*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"');

body {
  margin: 0;
  color: #333;
  background-image: url(../public/geometric-leaves.png);
}

h1 {
  color: cadetblue;
  margin: auto;
  padding: 10px;
  font-family: 'Indie Flower', cursive;
}