*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"');

body {
  padding: 0;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, Noto Sans, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-image: url(../public/geometric-leaves.png);
}


header {
  background-color: #fff;
  font-size: 17px;
  color: black
}
a {
  color: black;
}

.card {
  font-family: 'Indie Flower', cursive;
}

.card-login {
  text-align: center;
}

h1 {
  color: cadetblue;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-family: 'Indie Flower', cursive;
}
